<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nuta/Downloads/MavenTestNG">

        <parameter name="browser" value="firefox"/>
        <parameter name="browser1" value="chrome"/>

        <groups>
            <run>
                <include name="UI"/>
            </run>
        </groups>


        <classes>
            <class name="demo.Calculator"/>
            <class name="demo.TestNGAnnotations"/>
            <class name="demo.Text">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="demo.ParameterizedTests"/>
            <class name="demo.GroupsTests"/>
        </classes>
    </test>
</suite>

